Repository willswire/cosmology: changes, and which GitLab CI jobs are due for each by the changed paths.
All: infrastructure, applications

.gitlab-ci.yml:

stages:
  - trigger

infrastructure:
  stage: trigger
  trigger:
    include:
      - local: infrastructure/.gitlab-ci.yml
  rules:
    - changes: 
        - infrastructure/**/*

applications:
  stage: trigger
  trigger:
    include:
      - local: applications/.gitlab-ci.yml
  rules:
    - changes: 
        - applications/**/*

use main as ref
  applications/zarf.yaml
Due: applications

revert to semver tag
  applications/zarf.yaml
Due: applications

make folder; remove artifacts; toggle node type
  applications/.gitlab-ci.yml
  infrastructure/main.tf
Due: infrastructure, applications

update api var desc
  infrastructure/variables.tf
Due: infrastructure

update bb values
  applications/values.yaml
Due: applications

config is a file not a dir
  applications/.gitlab-ci.yml
Due: applications

rename image
  applications/.gitlab-ci.yml
Due: applications

update var to file type
  applications/.gitlab-ci.yml
Due: applications

copy config
  applications/.gitlab-ci.yml
Due: applications

set vars
  applications/.gitlab-ci.yml
Due: applications

swap kyverno image
  applications/values.yaml
Due: applications

use internal version
  applications/.gitlab-ci.yml
Due: applications

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

update stop job for infra
  infrastructure/.gitlab-ci.yml
  infrastructure/variables.tf
Due: infrastructure

make app deployment manual
  applications/.gitlab-ci.yml
Due: applications

auto deploy kyverno fix
  applications/.gitlab-ci.yml
  applications/values.yaml
Due: applications

auto deploy kyverno fix
  applications/.gitlab-ci.yml
Due: applications

use ib kyverno image
  applications/values.yaml
Due: applications

add applications gitignore
  applications/.gitignore
Due: applications

update readme
  README.md
Due: none

add thanos image cg overrides
  applications/zarf.yaml
Due: applications
