Repository willswire/cosmology: changes, and which GitLab CI jobs are due for each by the changed paths.
All: toolbox, infrastructure, applications

toolbox:
  stage: trigger
  trigger:
    include: toolbox/.gitlab-ci.yml
    strategy: depend

infrastructure:
  stage: trigger
  needs:
  - job: toolbox
    optional: true
  trigger:
    include: infrastructure/.gitlab-ci.yml
    strategy: depend

applications:
  stage: trigger
  needs:
  - job: toolbox
    optional: true
  - job: infrastructure
    optional: true
  trigger:
    include: applications/.gitlab-ci.yml
    strategy: depend

remove flux items
  applications/main.yaml
  applications/private-registry.yaml
  applications/secrets.yaml
  applications/zarf.yaml
Due: applications

remove variables
  applications/zarf.yaml
Due: applications

add registry key for kube-state-metrics
  applications/main.yaml
Due: applications

feat: remove big bang fork dependency
  .env.template
  .gitignore
  .gitlab-ci.yml
  README.md
  applications/.gitignore
  applications/.gitlab-ci.yml
  applications/secrets.yaml
  deploy.sh
  flux/helm-controller.yaml
  flux/kustomize-controller.yaml
  flux/notification-controller.yaml
  flux/source-controller.yaml
  infrastructure/.gitlab-ci.yml
  infrastructure/README.md
  main.yaml
  secrets.enc.yaml
  toolbox/.gitlab-ci.yml
  toolbox/Dockerfile
  toolbox/README.md
  zarf.yaml
Due: toolbox, infrastructure, applications

fix checkbox
  README.md
Due: none

update README
  README.md
Due: none

cosmology-chainguard
  .env.template
  .gitignore
  .gitlab-ci.yml
  README.md
  infrastructure/.gitlab-ci.yml
  infrastructure/.terraform.lock.hcl
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/variables.tf
  main.yaml
  packages/clip/.helmignore
  packages/clip/Chart.yaml
  packages/clip/src/Dockerfile
  packages/clip/src/script.sh
  packages/clip/templates/ClusterRole.yaml
  packages/clip/templates/ClusterRoleBinding.yaml
  packages/clip/templates/Deployment.yaml
  packages/clip/templates/ServiceAccount.yaml
  patches/flux/helm-controller.yaml
  patches/flux/kustomize-controller.yaml
  patches/flux/notification-controller.yaml
  patches/flux/source-controller.yaml
  scripts/deploy.sh
  scripts/destroy.sh
  scripts/setup.sh
  secrets.enc.yaml
  toolbox/.gitlab-ci.yml
  toolbox/Dockerfile
  toolbox/README.md
  zarf.yaml
Due: toolbox, infrastructure

add agent config
  .gitlab/agents/development/config.yaml
Due: none

reintroduce ci
  .gitlab-ci.yml
  .gitlab/toolbox/Dockerfile
  infrastructure/main.tf
  main.yaml
  scripts/deploy.sh
  secrets.enc.yaml
  zarf.yaml
Due: infrastructure

bigbang 2.20
  .gitlab-ci.yml
  .gitlab/toolbox/Dockerfile
  README.md
  infrastructure/.terraform.lock.hcl
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/provider.tf
  main.yaml
  scripts/deploy.sh
  scripts/destroy.sh
  scripts/setup.sh
  secrets.enc.yaml
  zarf.yaml
Due: infrastructure

feat: remove Iron Bank images
  .gitlab-ci.yml
  .gitlab/agents/development/config.yaml
  .gitlab/toolbox/Dockerfile
  README.md
  cosmos.sh
  infrastructure/README.md
  main.yaml
  packages/clip/.gitignore
  packages/clip/.helmignore
  packages/clip/README.md
  packages/clip/src/Dockerfile
  packages/clip/src/apko.yaml
  packages/clip/src/go.mod
  packages/clip/src/go.sum
  packages/clip/src/main.go
  packages/clip/src/main_test.go
  packages/clip/src/melange.rsa.pub
  packages/clip/src/melange.yaml
  packages/clip/src/script.sh
  scripts/deploy.sh
  scripts/destroy.sh
  scripts/setup.sh
  secrets.enc.yaml
Due: infrastructure

feat: add all chainguard images
  main.yaml
Due: none

server container
  packages/.gitignore
  packages/endlessh/src/apko.yaml
  packages/endlessh/src/melange.rsa.pub
  packages/endlessh/src/melange.yaml
Due: none

create helm chart
  packages/endlessh/.helmignore
  packages/endlessh/Chart.yaml
  packages/endlessh/README.md
  packages/endlessh/templates/_helpers.tpl
  packages/endlessh/templates/configmap.yaml
  packages/endlessh/templates/deployment.yaml
  packages/endlessh/templates/service.yaml
  packages/endlessh/values.yaml
Due: none

check for sops key
  cosmos.sh
Due: none

update clip
  main.yaml
  packages/clip/Chart.yaml
  packages/clip/README.md
  packages/clip/src/melange.rsa.pub
  packages/clip/src/melange.yaml
  packages/clip/templates/Deployment.yaml
Due: none

endlessh chart improvements
  packages/endlessh/templates/_helpers.tpl
  packages/endlessh/values.yaml
Due: none

hard code port
  main.yaml
  packages/endlessh/templates/configmap.yaml
  packages/endlessh/templates/deployment.yaml
  packages/endlessh/templates/service.yaml
  packages/endlessh/values.yaml
Due: none

bump bb and disable unused apps
  cosmos.sh
  main.yaml
  zarf.yaml
Due: none

use package registries for helm repos
  main.yaml
Due: none

bump underhill tag
  main.yaml
Due: none

local shenanigans
  keycloak/.gitignore
  keycloak/certificate.pem
  keycloak/main.go
  keycloak/research.md
Due: none

chore: research keycloack
  keycloak/certificate.pem
  keycloak/dod_ca.pem
  keycloak/dod_pke_chain.pem
  keycloak/realm-export.json
  keycloak/research.md
Due: none

chore: rotate keys
  secrets.enc.yaml
Due: none

Path conditions:
  toolbox: any of: toolbox/**/*
  infrastructure: any of: infrastructure/**/*
  applications: any of: applications/**/*
